/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/style.scss */
body {
  background: #333;
  font-family: 'Raleway', sans-serif;
}

/* line 20, ../sass/style.scss */
.container-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 27, ../sass/style.scss */
.form-container {
  width: 450px;
  margin: 0 auto;
  background: #dddddd;
  border-radius: 7px;
}
/* line 32, ../sass/style.scss */
.form-container .form-header {
  background: #4C7BB3;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  position: relative;
}
/* line 37, ../sass/style.scss */
.form-container .form-header .header {
  display: block;
  padding: 35px 0 35px 40px;
  font-size: 28px;
  color: #fff;
}
/* line 43, ../sass/style.scss */
.form-container .form-header .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #4C7BB3 transparent transparent transparent;
  position: absolute;
  top: 97px;
  left: 70px;
}
/* line 54, ../sass/style.scss */
.form-container .form-main {
  padding: 45px 35px 35px 35px;
}
/* line 57, ../sass/style.scss */
.form-container .form-main .form-group {
  position: relative;
}
/* line 60, ../sass/style.scss */
.form-container .form-main .form-group .icon:before {
  position: absolute;
  font-family: fontAwesome;
  right: 5px;
  top: 8px;
  content: "\f069";
  font-size: 24px;
  color: #eee;
  z-index: 200;
}
/* line 73, ../sass/style.scss */
.form-container .form-main .form-input {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0;
  color: #444;
}
/* line 83, ../sass/style.scss */
.form-container .form-main .form-input:hover, .form-container .form-main .form-input:focus {
  -moz-box-shadow: grey 0px 0px 10px;
  -webkit-box-shadow: grey 0px 0px 10px;
  box-shadow: grey 0px 0px 10px;
  outline: 0;
}
/* line 90, ../sass/style.scss */
.form-container .form-main .button-submit {
  width: 100%;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  border: 0;
  background-color: #66A633;
  border-radius: 5px;
}
/* line 100, ../sass/style.scss */
.form-container .form-main .button-submit:hover {
  background-color: #558533;
}
/* line 104, ../sass/style.scss */
.form-container .form-main textarea {
  height: 150px;
}

/* line 112, ../sass/style.scss */
.form-main .form-group .form-input:focus:invalid + .icon:before {
  color: #CF969A;
  content: "\f057";
}

/* line 117, ../sass/style.scss */
.form-main .form-group .form-input:valid + .icon:before {
  content: "\f058";
  color: #66A633;
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/*============Message=========*/
/* line 129, ../sass/style.scss */
.message-container {
  display: none;
}
/* line 131, ../sass/style.scss */
.message-container h1 {
  font-size: 60px;
  color: #fff;
}

/* line 137, ../sass/style.scss */
#aiming:target .form-container {
  display: none;
}

/* line 141, ../sass/style.scss */
#aiming:target .message-container {
  display: block;
  animation: fade 1s linear;
  -webkit-animation: fade 1s linear;
  -moz-animation: fade 1s linear;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
